{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App1.2</title>
    <style>
        body {
            text-align: center;
            color: black;
            font-family: 'Comic Sans MS', sans-serif;
            font-size: 20px;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            МЯСО С БРУЛЯМИ
        </h1>
        <p>
            Шалость заключается в том, чтобы быстро приготовить маринад, чтобы вы ничего не боялись и терли посуду о края кастрюли каждые 20 мин

            В кипящую подсоленную воду всыпаем муку с отрубями и специями, соль по желанию и лавровый лист. Насильно смазать маслом и положить в духовку. Добавить лук в дуршлаг, чтобы вонь и хруст стали явью. Вливается оливковое масло, посыпав тертым сыром. Добавляем сухарики. Подлить отвар и готовить на медленном огне, помешивая деревянной ложкой несколько раз одновременно. Добавить тертые сырые свиньи. Посолить, поперчить. Посолить и поперчить, поперчить по возможности. Готовить до готовности, ее можно определить по цветам и текстурам, а также вязкости.

            #ruGPT
        </p>

    </div>
</body>
</html>
