{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App1.2</title>
    <style>
        body {
            text-align: center;
            color: black;
            font-family: 'Comic Sans MS', sans-serif;
            font-size: 20px;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            45,7 KB
        </h1>
        <p>
            Рис отварить, охладить, затем добавить лавровый лист и обжарить на сильном огне с каждой стороны до хруста. Нарезаем миндаль тонкими полосками шириной 2 – 3 см, слегка отбив и взбив ножом. На этом этапе вам дается возможность отдохнуть и подумать. 1 небольшой кусок 50 на 50 сантиметров облить кетчупом и вставить свечи. Лапшу сложить пополам и обжарить до мягкости около 30 мин, чтобы косточки макарон не цеплялись за горло. Картофельные котлеты фаршированные сосисочными шариками сдобрить майонезом. Сложить все в афганский казан и тушить 45 мин.

            #ruGPT
        </p>

    </div>
</body>
</html>
